.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.DerivedData-iOS/
.DerivedData-macOS/
coverage_iOS.txt
coverage_macOS.txt
percentage.txt
