.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
# .swiftpm/xcode
.derivedData/
.DerivedData-iOS/
.DerivedData-macOS/
coverage_iOS.txt
coverage_macOS.txt
percentage.txt
percentage_iOS.txt
percentage_macOS.txt
.dependencies/