name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select Xcode 16.4
      run: sudo xcode-select -s /Applications/Xcode_16.4.app
    - name: Build, test, and code coverage
      run: make
    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_UPDATE }}
        gistID: 9216666566d5badd2c824d3524181377
        filename: AUv3Support-coverage.json
        label: Coverage
        message: ${{ env.PERCENTAGE }}
        color: success
